/*清除默认样式*/
html,body,div,video{
  margin: 0px;padding: 0px;border: none;box-sizing: border-box;
}

.Video-wrapper{
  width: 850px;
  height: 560px;
  background-color: #000000;
  position: absolute;
  left: 0;
  right: 0;
}
.video{
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.video-play{
  width: 100%;
  height: 100%;
}
.video-play video{
  width: 100%;
  height: 100%;
}
